@{
    ViewBag.Title = "Søg vikar";
}
<div class="browse-container">
    <div class="search-container">
        <form method="GET" action="">
            <input id="search-bar" type="text" value="Søg her">
            <input id="search-button" type="submit" value="Søg">

        </form>

    </div>
    <div class="result-container">
        <ul>
            
        </ul>
    </div>
</div>