@{
    ViewBag.Title = "Hjem";
}

<div class="landing-page">
    <a href="/Home/Browse" class="landing-page-card landing-soger-vikar">
        <h1>
            søg vikar
        </h1>
        <i class="fas fa-users"></i>
        <h1 href="/home/browse">
            søg
        </h1>
    </a>
    <a href="/Home/Signin" class="landing-page-card landing-er-vikar">
        <h1>
            jeg er vikar
        </h1>
        <i class="fas fa-user"></i>
        <h1>
            login
        </h1>
    </a>
</div>