@{
    ViewBag.Title = "Hjem";
}

<div class="landing-page">
    <a href="/Home/Browse" class="landing-page-card landing-soger-vikar">
        <h1>
            Jeg Søger Vikar
        </h1>
    </a>
    <a href="/Home/Signin" class="landing-page-card landing-er-vikar">
        <h1>
            Jeg Er Vikar
        </h1>
    </a>
</div>