@{
    ViewBag.Title = "Profil";
}
<div class="profile-container">
    <div class ="profile-personinfo-container">
        <p>Navn:</p>
        <p>Placeholdernavn</p>    
        @* Indsæt navn *@
    </div>
    <div class ="profile-personinfo-container">
        <p>Alder:</p>
        <p>291 år</p>
        @* Indsæt navn *@
    </div>
</div>

<div class="profile-container">
    <div class ="profile-personinfo-container">
        <p>Telefonnummer:</p>
        <p>89 83 83 82</p>
        @* Indsæt navn *@
    </div>
    <div class ="profile-personinfo-container">
        <p>Email:</p>
        <p>Placeholdernavn@gmail.com</p>
        @* Indsæt navn *@
    </div>
</div>

<div class="profile-container">
    <div class ="profile-personinfo-container">
        <p>Område:</p>
        <p>Fuckstrup</p>
        @* Indsæt navn *@
    </div>
</div>

<div class="profile-container">
    <div class ="profile-personinfo-container">
        <p>Om mig:</p>
        <p>Bacon ipsum dolor amet tail sausage ham hock picanha drumstick flank pork loin meatloaf t-bone spare ribs. Shankle flank pork belly hamburger, tongue venison turkey prosciutto leberkas turducken jowl. Short ribs shank frankfurter biltong cow beef ribs jerky. Alcatra cupim venison sirloin tenderloin bacon pork.</p>
        @* Indsæt navn *@
    </div>
</div>

<button type="button" onclick="alert('Kald Funktion')">Rediger Oplysninger</button>

<div class="profile-container">
    <div class ="profile-personinfo-container">
        <p>Kommentarer</p>
        <p>Holdkæft hvor er han bare dygtig til de børn der, 10/10</p>
    </div>
</div>