@{
    ViewBag.Title ="Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <form>
                <h1>Login</h1>
                <label for="username">Brugernavn: </label>
                <input id="username" type="text" value="">
                <label for="password">Password: </label>
                <input id="password" type="password" value="">
                <input id="login-button" type="submit" value="Login">
            </form>
        </div>
        <div class="login-box">
            <form>
                <h1>Opret Bruger</h1>
                <label for="username-up">Brugernavn: </label>
                <input id="username-up" type="text" value="">
                <label for="password-up">Password: </label>
                <input id="password-up" type="text" value="">
                <label for="email">Email: </label>
                <input id="email" type="email" value="">
                <input id="signup-button" type="submit" value="Opret Bruger">
            </form>            
        </div>
    </div>
</body>
</html>
